/* screen - i1024 */

.i1024 {
    align-items: flex-start;
    background-color: #141414;
    display: flex;
    height: 142.22vw;
    padding: 4.17vw 24.17vw;
    width: 100.0vw;
  }
  
  .i1024 .desktop1024 {
    height: 59.17vw;
    margin-left: 0.14vw;
    position: relative;
    width: 51.53vw;
  }
  
  .i1024 .img-slot {
    height: 55.28vw;
    left: 5.76vw;
    position: absolute;
    top: 3.75vw;
    width: 39.86vw;
  }
  
  .i1024 .overlap-group {
    height: 6.74vw;
    left: 0;
    position: absolute;
    top: 0;
    width: 37.22vw;
  }
  .i1024 .title {
    color: #a95fbcbf0;
    font-family: var(--font-family-inter);
    font-size: 5.56vw;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 37.22vw;
    text-shadow: 
    -1px -1px 0 white, /* Top-left border shadow */
    1px -1px 0 white,  /* Top-right border shadow */
    -1px 1px 0 white,  /* Bottom-left border shadow */
    1px 1px 0 white;   /* Bottom-right border shadow */
  }
  
  .i1024 .title-g {
    color: #a95fbc73;
    filter: blur(0.79vw);;
    font-family: var(--font-family-inter);
    font-size: 5.56vw;
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 37.22vw;
  }
  
  .i1024 .hawkstyle {
    height: 4.17vw;
    left: 0.28vw;
    position: absolute;
    top: 1.32vw;
    width: 35.35vw;
  }
  
  .i1024 .array1 {
    left: 39.03vw;
    top: 28.06vw;
  }
  
  .i1024 .array1-1 {
    left: 0;
    top: 34.58vw;
  }
  
  .i1024 .group-1 {
    align-items: flex-start;
    height: 1.18vw;
    left: 39.72vw;
    min-width: 13.19vw;
    top: 9.58vw;
    transform: rotate(90.00deg);
  }
  
  .i1024 .issue-the-rave-wave-container {
    height: 2.88vw;
    margin-top: 0;
    position: absolute;
    width: 45.92vw;
  }
  
  .i1024 .issue-03-the-rave-wave {
    filter: blur(0.24vw);;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .i1024 .issue-03-the-rave-wave-1 {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .i1024 .group-2 {
    align-items: flex-start;
    height: 1.18vw;
    left: -1.52vw;
    min-width: 13.19vw;
    top: 51.94vw;
    transform: rotate(-90.00deg);
  }
  
  .i1024 .place-container {
    height: 3.33vw;
    left: 6.32vw;
    position: absolute;
    top: 5.42vw;
    width: 14.37vw;
  }
  
  .i1024 .place {
    color: #e193f4;
    filter: blur(0.21vw);;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .i1024 .place-1 {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0.0vw 0.0vw 0.35vw #e193f480;
    top: 0;
    white-space: nowrap;
  }
  
  .i1024 .group-5 {
    align-items: flex-start;
    flex-direction: column;
    left: 37.29vw;
    min-height: 11.25vw;
    top: 30.35vw;
    width: 8.68vw;
  }
  
  .i1024 .rave-wave {
    color: var(--white);
    font-family: var(--font-family-inconsolata);
    font-size: var(--font-size-l);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    min-height: 1.74vw;
    white-space: nowrap;
  }
  
  .i1024 .line-1 {
    margin-top: 0.14vw;
    width: 8.4vw;
  }
  
  .i1024 .blurb-about-the-theme {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 0.28vw;
    min-height: 9.03vw;
    width: 8.4vw;
  }
  
  .i1024 .group-6 {
    align-items: flex-end;
    flex-direction: column;
    left: 5.83vw;
    min-height: 11.18vw;
    top: 36.94vw;
    width: 10.14vw;
  }
  
  .i1024 .coming-soon {
    color: var(--white);
    font-family: var(--font-family-inconsolata);
    font-size: var(--font-size-l);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 0.28vw;
    min-height: 1.74vw;
    min-width: 9.17vw;
    text-align: right;
    white-space: nowrap;
  }
  
  .i1024 .line-2 {
    margin-right: 0.28vw;
    margin-top: 0.07vw;
    width: 9.86vw;
  }
  
  .i1024 .info-about-wherewhen-to-buy-upcoming {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 0.28vw;
    margin-top: 0.28vw;
    min-height: 9.03vw;
    text-align: right;
    width: 9.86vw;
  }
  
  .i1024 .array1-2 {
    height: 1.6vw;
    position: absolute;
    width: 12.5vw;
  }
  
  .i1024 .group {
    display: flex;
    position: absolute;
  }
  
  .i1024 .line {
    height: 0.07vw;
    object-fit: cover;
  }


  /* screen - iphone-8-2 */
  
  .iphone-8-2 {
    align-items: flex-start;
    background-color: #141414;
    display: flex;
    height: 177.87vw;
    overflow: hidden;
    padding: 30.4vw 0;
    width: 100.0vw;
  }
  
  .iphone-8-2 .overlap-group2 {
    height: 115.47vw;
    margin-top: 1.6vw;
    position: relative;
    width: 127.47vw;
  }
  
  .iphone-8-2 .img-slot-1 {
    height: 108.53vw;
    left: 10.67vw;
    position: absolute;
    top: 6.4vw;
    width: 78.4vw;
  }
  
  .iphone-8-2 .array1-2 {
    left: 76.0vw;
    top: 54.13vw;
    width: 24.0vw;
  }
  
  .iphone-8-2 .array1-3 {
    left: 0;
    top: 66.93vw;
    width: 23.73vw;
  }
  
  .iphone-8-2 .group-3 {
    left: 78.13vw;
    top: 17.87vw;
    transform: rotate(90.00deg);
  }
  
  .iphone-8-2 .issue-the-rave-wave-container-1 {
    height: 22.4vw;
    margin-top: 0;
    position: relative;
    width: 25.33vw;
    font-size: var(--font-size-xxxs);
  }
  
  .iphone-8-2 .issue-03-the-rave-wave-2 {
    filter: blur(0.93vw);;
  }
  
  .iphone-8-2 .group-4 {
    left: -4.0vw;
    top: 101.07vw;
    transform: rotate(-90.00deg);
  }
  
  .iphone-8-2 .rave-wave-1 {
    color: var(--white);
    font-family: var(--font-family-inconsolata);
    font-size: var(--font-size-m);
    font-weight: 400;
    left: 72.53vw;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 58.13vw;
    white-space: nowrap;
    width: 14.67vw;
  }
  
  .iphone-8-2 .blurb-about-the-theme-1 {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    left: 72.53vw;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 62.67vw;
    width: 16.53vw;
  }
  
  .iphone-8-2 .line-3 {
    left: 72.53vw;
    top: 62.13vw;
    width: 16.53vw;
  }
  
  .iphone-8-2 .coming-soon-1 {
    color: var(--white);
    font-family: var(--font-family-inconsolata);
    font-size: var(--font-size-m);
    font-weight: 400;
    left: 12.0vw;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 71.2vw;
    white-space: nowrap;
    width: 17.87vw;
  }
  
  .iphone-8-2 .info-about-wherewhen-to-buy-upcoming-1 {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxs);
    font-weight: 400;
    left: 10.67vw;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 75.47vw;
    width: 19.2vw;
  }
  
  .iphone-8-2 .line-4 {
    left: 10.67vw;
    top: 74.93vw;
    width: 19.2vw;
  }
  
  .iphone-8-2 .title-1 {
    color: #a95fbcbf20;
    font-family: var(--font-family-inter);
    font-size: 9.6vw;
    font-weight: 800;
    left: 4.53vw;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 142.93vw;
    text-shadow: 
    -0.5px -0.5px 0 white, /* Top-left border shadow */
    0.5px -0.5px 0 white,  /* Top-right border shadow */
    -0.5px 0.5px 0 white,  /* Bottom-left border shadow */
    0.5px 0.5px 0 white;   /* Bottom-right border shadow */
  }
  .iphone-8-2 .title-1-g {
    color: #a95fbcbf;
    filter: blur(2.27vw);;
    font-family: var(--font-family-inter);
    font-size: 9.6vw;
    font-weight: 800;
    left: 4.53vw;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 142.93vw;
  }
  
  .iphone-8-2 .hawkstyle-1 {
    height: 7.2vw;
    left: 5.07vw;
    position: absolute;
    top: 2.4vw;
    width: 61.07vw;
  }
  
  .iphone-8-2 .place-2 {
    color: #e193f4;
    filter: blur(0.8vw);;
  }
  
  .iphone-8-2 .place-3 {
    color: var(--white);
    text-shadow: 0.0vw 0.0vw 1.33vw #e193f480;
  }
  
  .iphone-8-2 .array1 {
    height: 3.2vw;
    position: absolute;
  }
  
  .iphone-8-2 .group {
    align-items: flex-start;
    display: flex;
    height: 2.4vw;
    min-width: 26.4vw;
    position: absolute;
  }
  
  .iphone-8-2 .issue-03-the-rave-wave {
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 25.33vw;
  }
  
  .iphone-8-2 .line {
    height: 0.27vw;
    object-fit: cover;
    position: absolute;
  }
  
  .iphone-8-2 .place {
    font-family: var(--font-family-inter);
    font-size: 4.0vw;
    font-weight: 400;
    left: 13.6vw;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 9.33vw;
    white-space: nowrap;
  }
  @media screen and (max-width: 1023px) {
    .screen.i1024 { 
      display: none;
     }
  }
  @media screen and (min-width: 1024px) {
    .screen.iphone-8-2 { 
      display: none;
     }
  }